section ol{
    column-count: 2;
    text-align: center;
    
}
section ol li{
    margin: 1.375em;
    margin-top: 0;
    list-style-type: none;
}
ol + p , figure{
    text-align: center;
}

@media screen and (max-width : 1050px) {
    section ol{
        column-count: 1;
    }
}