/*a= 0 b= 0 c= 1 <=> Especificidad 1*/
/*a= 0 b= 0 c= 1 <=> Especificidad 1*/
html,
body {
    height: 100%;
}

/*a= 0 b= 0 c= 1 <=> Especificidad 1*/
body {
    background-color: white;
    text-align: justify; 
}

/*a= 0 b= 0 c= 1 <=> Especificidad 1*/
h2 {

    text-align: center;
    font-family: waters;
    font-size: 3.125em;
}

/*a= 0 b= 0 c= 2 <=> Especificidad 2*/
h2 + ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

/*a= 0 b= 0 c= 3 <=> Especificidad 3*/
h2 + ul > li {
    border: 0.375em solid black;
    box-shadow: 0.125em 0.125em 0.3125em rgb(32, 31, 31);
    text-align: center;
    margin: 1.375em;
}

/*a= 0 b= 0 c= 1 <=> Especificidad 1*/
table {
    border-radius: 0.3125em;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    margin-bottom: 1.25em;
}

/*a= 0 b= 0 c= 2 <=> Especificidad 2*/
/*a= 0 b= 0 c= 2 <=> Especificidad 2*/
table td,
table th {
    text-align: center;
    padding: 0.5em;
    border-right: 0.0625em solid white;
    width: 9.375em;
    font-size: 0.75em;
}

/*a= 0 b= 0 c= 3 <=> Especificidad 3*/
table thead th {
    color: white;
    background: black;
}

/*a= 0 b= 1 c= 3 <=> Especificidad 13*/
table tr:nth-child(even) {
    background: #F8F8F8;
}

/*a= 0 b= 0 c= 1 <=> Especificidad 1*/
video {
    float:right;
    max-width: 100%;
    height: 15.625em;
    padding-bottom: 1.25em;
    padding-left: 1.25em;
}

@media screen and (max-width : 1050px) {

    /*a= 0 b= 0 c= 1 <=> Especificidad 1*/
    table {
        display: block;
        width: 100%;
    }

    /*a= 0 b= 0 c= 2 <=> Especificidad 2*/
    table-wrapper:before {
        content: "";
        display: block;
        text-align: right;
        font-size: 0.6875em;
        color: white;
        padding: 0 0 0.625em;
    }

    /*a= 0 b= 0 c= 2 <=> Especificidad 2*/
    /*a= 0 b= 0 c= 2 <=> Especificidad 2*/
    /*a= 0 b= 0 c= 3 <=> Especificidad 3*/
    table thead,
    table tbody,
    table thead th {
        display: block;
    }

    /*a= 0 b= 0 c= 2 <=> Especificidad 2*/
    table thead {
        float: left;
    }

    /*a= 0 b= 0 c= 2 <=> Especificidad 2*/
    table tbody {
        width: auto;
        overflow-x: auto;
    }

    /*a= 0 b= 0 c= 2 <=> Especificidad 2*/
    /*a= 0 b= 0 c= 2 <=> Especificidad 2*/
    table td,
    table th {
        padding: 1.25em .625em .625em .625em;
        height: 3.75em;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 15.625em;
        font-size: 0.8125em;
        text-overflow: ellipsis;
    }

    /*a= 0 b= 0 c= 3 <=> Especificidad 3*/
    table thead th {
        text-align: left;
        border-bottom: 0.0625em solid #f7f7f9;
        width: 7.5em;
    }

    /*a= 0 b= 0 c= 3 <=> Especificidad 3*/
    table tbody tr {
        display: table-cell;
    }

    /*a= 0 b= 1 c= 3 <=> Especificidad 13*/
    table tr:nth-child(even) {
        background: transparent;
    }

    /*a= 0 b= 1 c= 4 <=> Especificidad 14*/
    table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 0.0625em solid #E6E4E4;
    }

    /*a= 0 b= 0 c= 3 <=> Especificidad 3*/
    table tbody td {
        display: block;
        text-align: center;
    }
}
