body {
    background-image: url("images/sangre.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    background-color: black;
    text-align: center;
}
h1 {
    text-align: center !important;
    margin-top: 0em !important; 
    margin-left: 0em !important;
}