/*a= 0 b= 0 c= 1 <=> Especificidad 1*/
/*a= 0 b= 0 c= 1 <=> Especificidad 1*/
html,
body {
    height: 100%;
}

/*a= 0 b= 0 c= 1 <=> Especificidad 1*/
body {
    margin: 0;
    background-color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    display: flex;
    flex-direction: column;
}

/*a= 0 b= 0 c= 1 <=> Especificidad 1*/
header {
    position: relative;
    background-image: url("images/poster.jpg");
    background-size: 100% 100%;
    width: 100%;
    display: inline-block;
    height: 10.625em;
    z-index:1;
}

/*a= 1 b= 0 c= 0 <=> Especificidad 100*/
#poster2 {
    display: none;
}

/*a= 0 b= 0 c=2 <=> Especificidad 2*/
header + section {
    margin: auto;
    padding-top: 0.625em;
    flex: 1 0 auto;
    width: 70%;
}

/*a= 0 b= 0 c= 1 <=> Especificidad 1*/
h1 {
    text-align: left;
    margin-top: 0.4em;
    margin-left: 2em;
    font-family: waters;
    font-size: 6.25em;
}

/*a= 0 b= 0 c=2 <=> Especificidad 2*/
h1 a {
    color: white;
    text-decoration: none;
}

/*a= 0 b= 0 c=2 <=> Especificidad 2*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

/*a= 0 b= 0 c=2 <=> Especificidad 2*/
nav li {
    display: inline-block;
    float: left;
}

/*a= 0 b= 0 c= 3 <=> Especificidad 3*/
nav li a {
    display: block;
    min-width: 8.75em;
    height: 3.125em;
    text-align: center;
    line-height: 2.5em;
    color: white;
    background: black;
    text-decoration: none;
}

/*a= 0 b= 1 c= 3 <=> Especificidad 13*/
nav li:hover a {
    background: red;
}

/*a= 0 b= 2 c= 4 <=> Especificidad 24*/
nav li:hover ul a:hover {
    background: red;
    color: white;
}

/*a= 0 b= 0 c= 3 <=> Especificidad 3*/
nav li ul {
    display: none;
}

/*a= 0 b= 1 c= 4 <=> Especificidad 14*/
nav li:hover ul a {
    background: white;
    color: black;
    height: 2.5em;
    line-height: 2.5em;
}

/*a= 0 b= 2 c= 4 <=> Especificidad 24*/
/*a= 0 b= 2 c= 0 <=> Especificidad 20*/
nav ul li a:hover+.secundario,
.secundario:hover {
    display: block;
}

/*a= 0 b= 1 c= 0 <=> Especificidad 10*/
.mostrar-menu {
    text-decoration: none;
    color: #fff;
    background: black;
    text-align: center;
    padding: 1.25em 0;
    display: none;
}

/*a= 0 b= 1 c= 2 <=> Especificidad 12*/
nav input[type=checkbox] {
    display: none;
}

/*a= 0 b= 3 c= 2 <=> Especificidad 32*/
nav input[type=checkbox]:checked~.principal {
    display: block;
}

/*a= 0 b= 0 c= 1 <=> Especificidad 1*/
footer {
    background: black;
    text-align: center;
    padding: 0.625em;
    flex-shrink: 0;
}

/*a= 0 b= 0 c=2 <=> Especificidad 2*/
footer>address {
    color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

@font-face {
    font-family: "waters";
    src: url("fonts/WatersGothicDeux-ngoY.ttf");
}


@media screen and (max-width : 1050px) {

    /*a= 0 b= 0 c= 1 <=> Especificidad 1*/
    header {
        background-image: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 0;
    }

    /*a= 1 b= 0 c= 0 <=> Especificidad 100*/
    #poster2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 8%;
    }

    /*a= 0 b= 0 c= 1 <=> Especificidad 1*/
    h1 {
        display: none;
    }

    /*a= 0 b= 0 c= 1 <=> Especificidad 1*/
    nav {
        background-color: black;
    }

    /*a= 0 b= 0 c=2 <=> Especificidad 2*/
    nav ul {
        position: static;
        display: none;
    }

    /*a= 0 b= 0 c= 3 <=> Especificidad 3*/
    /*a= 0 b= 0 c= 3 <=> Especificidad 3*/
    nav ul li,
    nav li a {
        width: 100%;
    }

    /*a= 0 b= 0 c=2 <=> Especificidad 2*/
    header + section {
        margin-top: 6.875em;
    }

    /*a= 0 b= 1 c= 0 <=> Especificidad 10*/
    .mostrar-menu {
        display: block;
    }
}